
.custom-guest-layout {
    background-color: #f0f0f0;
    padding-bottom: 120px !important;
    /* Dodaj inne style według potrzeb */
}
.min-h-screen {
    min-height: auto !important;
}
.container .sm\:justify-center {
    justify-content: start;
}
.form-container {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputcustom {
    width: 100%;
    padding: 8px 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary-login-max, .btn-primary-sign-max {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary-login-max:hover, .btn-primary-sign-max:hover {
    background-color: #0056b3;
}

h2.sh1 {
    text-align: center;
    color: #333;
}
